<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
    <el-form-item label="" prop="type">
      <el-input v-model="dataForm.type" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="speed">
      <el-input v-model="dataForm.speed" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="load">
      <el-input v-model="dataForm.load" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="layer">
      <el-input v-model="dataForm.layer" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="station">
      <el-input v-model="dataForm.station" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="door">
      <el-input v-model="dataForm.door" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ywGt">
      <el-input v-model="dataForm.ywGt" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ywJf">
      <el-input v-model="dataForm.ywJf" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="折扣" prop="discount">
      <el-input v-model="dataForm.discount" placeholder="折扣"></el-input>
    </el-form-item>
    <el-form-item label="数量" prop="number">
      <el-input v-model="dataForm.number" placeholder="数量"></el-input>
    </el-form-item>
    <el-form-item label="" prop="cg">
      <el-input v-model="dataForm.cg" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jk">
      <el-input v-model="dataForm.jk" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="elevatorZfgpkgn">
      <el-input v-model="dataForm.elevatorZfgpkgn" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="elevatorZfgpkcm">
      <el-input v-model="dataForm.elevatorZfgpkcm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="cargoPkgzfsc">
      <el-input v-model="dataForm.cargoPkgzfsc" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="cargoPkgzfsccm">
      <el-input v-model="dataForm.cargoPkgzfsccm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="bxgdmt">
      <el-input v-model="dataForm.bxgdmt" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ptgbxgqtm">
      <el-input v-model="dataForm.ptgbxgqtm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ptgbxgqx">
      <el-input v-model="dataForm.ptgbxgqx" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="qtmbxgjm">
      <el-input v-model="dataForm.qtmbxgjm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jtmbxgjm">
      <el-input v-model="dataForm.jtmbxgjm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jtmtjjm">
      <el-input v-model="dataForm.jtmtjjm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jtmbxgjmzk">
      <el-input v-model="dataForm.jtmbxgjmzk" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jtmtjjmzk">
      <el-input v-model="dataForm.jtmtjjmzk" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jxbxgjm">
      <el-input v-model="dataForm.jxbxgjm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jxtjjm">
      <el-input v-model="dataForm.jxtjjm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jxbxgjmzk">
      <el-input v-model="dataForm.jxbxgjmzk" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jxtjjmzk">
      <el-input v-model="dataForm.jxtjjmzk" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="jxfwzk">
      <el-input v-model="dataForm.jxfwzk" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="bxgjd">
      <el-input v-model="dataForm.bxgjd" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="dlsdbds">
      <el-input v-model="dataForm.dlsdbds" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="dlsdbph">
      <el-input v-model="dataForm.dlsdbph" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="bxgsusgjx">
      <el-input v-model="dataForm.bxgsusgjx" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="bxgsusgjtm">
      <el-input v-model="dataForm.bxgsusgjtm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="bxgtgjx">
      <el-input v-model="dataForm.bxgtgjx" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="bxgtgjtm">
      <el-input v-model="dataForm.bxgtgjtm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="psgbgjtm">
      <el-input v-model="dataForm.psgbgjtm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="wjfztdzk">
      <el-input v-model="dataForm.wjfztdzk" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ythczx">
      <el-input v-model="dataForm.ythczx" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="fczx">
      <el-input v-model="dataForm.fczx" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="whxp">
      <el-input v-model="dataForm.whxp" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ddxp">
      <el-input v-model="dataForm.ddxp" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="csyjxsp">
      <el-input v-model="dataForm.csyjxsp" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="lbyjxsp">
      <el-input v-model="dataForm.lbyjxsp" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="qxnfs">
      <el-input v-model="dataForm.qxnfs" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="yybzgn">
      <el-input v-model="dataForm.yybzgn" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="qkxt">
      <el-input v-model="dataForm.qkxt" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="cctvsb">
      <el-input v-model="dataForm.cctvsb" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="cctvdl">
      <el-input v-model="dataForm.cctvdl" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ehygm">
      <el-input v-model="dataForm.ehygm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ktxtsbdl">
      <el-input v-model="dataForm.ktxtsbdl" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ktxtsbln">
      <el-input v-model="dataForm.ktxtsbln" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ktxtdl">
      <el-input v-model="dataForm.ktxtdl" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="tqkm">
      <el-input v-model="dataForm.tqkm" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ybdzd">
      <el-input v-model="dataForm.ybdzd" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="ycjkgn">
      <el-input v-model="dataForm.ycjkgn" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="dzgzyxgn">
      <el-input v-model="dataForm.dzgzyxgn" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="dqftkzxt">
      <el-input v-model="dataForm.dqftkzxt" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="qxgt">
      <el-input v-model="dataForm.qxgt" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="qxzjgt">
      <el-input v-model="dataForm.qxzjgt" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="gtPt">
      <el-input v-model="dataForm.gtPt" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="gtBxg">
      <el-input v-model="dataForm.gtBxg" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="zjgtPx">
      <el-input v-model="dataForm.zjgtPx" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="zjgtBxg">
      <el-input v-model="dataForm.zjgtBxg" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="fbsjYs">
      <el-input v-model="dataForm.fbsjYs" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="fbsjYx">
      <el-input v-model="dataForm.fbsjYx" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="fbsjJj">
      <el-input v-model="dataForm.fbsjJj" placeholder=""></el-input>
    </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          id: 0,
          type: '',
          speed: '',
          load: '',
          layer: '',
          station: '',
          door: '',
          ywGt: '',
          ywJf: '',
          discount: '',
          number: '',
          cg: '',
          jk: '',
          elevatorZfgpkgn: '',
          elevatorZfgpkcm: '',
          cargoPkgzfsc: '',
          cargoPkgzfsccm: '',
          bxgdmt: '',
          ptgbxgqtm: '',
          ptgbxgqx: '',
          qtmbxgjm: '',
          jtmbxgjm: '',
          jtmtjjm: '',
          jtmbxgjmzk: '',
          jtmtjjmzk: '',
          jxbxgjm: '',
          jxtjjm: '',
          jxbxgjmzk: '',
          jxtjjmzk: '',
          jxfwzk: '',
          bxgjd: '',
          dlsdbds: '',
          dlsdbph: '',
          bxgsusgjx: '',
          bxgsusgjtm: '',
          bxgtgjx: '',
          bxgtgjtm: '',
          psgbgjtm: '',
          wjfztdzk: '',
          ythczx: '',
          fczx: '',
          whxp: '',
          ddxp: '',
          csyjxsp: '',
          lbyjxsp: '',
          qxnfs: '',
          yybzgn: '',
          qkxt: '',
          cctvsb: '',
          cctvdl: '',
          ehygm: '',
          ktxtsbdl: '',
          ktxtsbln: '',
          ktxtdl: '',
          tqkm: '',
          ybdzd: '',
          ycjkgn: '',
          dzgzyxgn: '',
          dqftkzxt: '',
          qxgt: '',
          qxzjgt: '',
          gtPt: '',
          gtBxg: '',
          zjgtPx: '',
          zjgtBxg: '',
          fbsjYs: '',
          fbsjYx: '',
          fbsjJj: ''
        },
        dataRule: {
          type: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          speed: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          load: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          layer: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          station: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          door: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ywGt: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ywJf: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          discount: [
            { required: true, message: '折扣不能为空', trigger: 'blur' }
          ],
          number: [
            { required: true, message: '数量不能为空', trigger: 'blur' }
          ],
          cg: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jk: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          elevatorZfgpkgn: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          elevatorZfgpkcm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          cargoPkgzfsc: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          cargoPkgzfsccm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          bxgdmt: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ptgbxgqtm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ptgbxgqx: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          qtmbxgjm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jtmbxgjm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jtmtjjm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jtmbxgjmzk: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jtmtjjmzk: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jxbxgjm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jxtjjm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jxbxgjmzk: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jxtjjmzk: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          jxfwzk: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          bxgjd: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          dlsdbds: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          dlsdbph: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          bxgsusgjx: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          bxgsusgjtm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          bxgtgjx: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          bxgtgjtm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          psgbgjtm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          wjfztdzk: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ythczx: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          fczx: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          whxp: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ddxp: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          csyjxsp: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          lbyjxsp: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          qxnfs: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          yybzgn: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          qkxt: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          cctvsb: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          cctvdl: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ehygm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ktxtsbdl: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ktxtsbln: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ktxtdl: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          tqkm: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ybdzd: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          ycjkgn: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          dzgzyxgn: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          dqftkzxt: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          qxgt: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          qxzjgt: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          gtPt: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          gtBxg: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          zjgtPx: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          zjgtBxg: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          fbsjYs: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          fbsjYx: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          fbsjJj: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/applets/elevatororder/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.type = data.elevatorOrder.type
                this.dataForm.speed = data.elevatorOrder.speed
                this.dataForm.load = data.elevatorOrder.load
                this.dataForm.layer = data.elevatorOrder.layer
                this.dataForm.station = data.elevatorOrder.station
                this.dataForm.door = data.elevatorOrder.door
                this.dataForm.ywGt = data.elevatorOrder.ywGt
                this.dataForm.ywJf = data.elevatorOrder.ywJf
                this.dataForm.discount = data.elevatorOrder.discount
                this.dataForm.number = data.elevatorOrder.number
                this.dataForm.cg = data.elevatorOrder.cg
                this.dataForm.jk = data.elevatorOrder.jk
                this.dataForm.elevatorZfgpkgn = data.elevatorOrder.elevatorZfgpkgn
                this.dataForm.elevatorZfgpkcm = data.elevatorOrder.elevatorZfgpkcm
                this.dataForm.cargoPkgzfsc = data.elevatorOrder.cargoPkgzfsc
                this.dataForm.cargoPkgzfsccm = data.elevatorOrder.cargoPkgzfsccm
                this.dataForm.bxgdmt = data.elevatorOrder.bxgdmt
                this.dataForm.ptgbxgqtm = data.elevatorOrder.ptgbxgqtm
                this.dataForm.ptgbxgqx = data.elevatorOrder.ptgbxgqx
                this.dataForm.qtmbxgjm = data.elevatorOrder.qtmbxgjm
                this.dataForm.jtmbxgjm = data.elevatorOrder.jtmbxgjm
                this.dataForm.jtmtjjm = data.elevatorOrder.jtmtjjm
                this.dataForm.jtmbxgjmzk = data.elevatorOrder.jtmbxgjmzk
                this.dataForm.jtmtjjmzk = data.elevatorOrder.jtmtjjmzk
                this.dataForm.jxbxgjm = data.elevatorOrder.jxbxgjm
                this.dataForm.jxtjjm = data.elevatorOrder.jxtjjm
                this.dataForm.jxbxgjmzk = data.elevatorOrder.jxbxgjmzk
                this.dataForm.jxtjjmzk = data.elevatorOrder.jxtjjmzk
                this.dataForm.jxfwzk = data.elevatorOrder.jxfwzk
                this.dataForm.bxgjd = data.elevatorOrder.bxgjd
                this.dataForm.dlsdbds = data.elevatorOrder.dlsdbds
                this.dataForm.dlsdbph = data.elevatorOrder.dlsdbph
                this.dataForm.bxgsusgjx = data.elevatorOrder.bxgsusgjx
                this.dataForm.bxgsusgjtm = data.elevatorOrder.bxgsusgjtm
                this.dataForm.bxgtgjx = data.elevatorOrder.bxgtgjx
                this.dataForm.bxgtgjtm = data.elevatorOrder.bxgtgjtm
                this.dataForm.psgbgjtm = data.elevatorOrder.psgbgjtm
                this.dataForm.wjfztdzk = data.elevatorOrder.wjfztdzk
                this.dataForm.ythczx = data.elevatorOrder.ythczx
                this.dataForm.fczx = data.elevatorOrder.fczx
                this.dataForm.whxp = data.elevatorOrder.whxp
                this.dataForm.ddxp = data.elevatorOrder.ddxp
                this.dataForm.csyjxsp = data.elevatorOrder.csyjxsp
                this.dataForm.lbyjxsp = data.elevatorOrder.lbyjxsp
                this.dataForm.qxnfs = data.elevatorOrder.qxnfs
                this.dataForm.yybzgn = data.elevatorOrder.yybzgn
                this.dataForm.qkxt = data.elevatorOrder.qkxt
                this.dataForm.cctvsb = data.elevatorOrder.cctvsb
                this.dataForm.cctvdl = data.elevatorOrder.cctvdl
                this.dataForm.ehygm = data.elevatorOrder.ehygm
                this.dataForm.ktxtsbdl = data.elevatorOrder.ktxtsbdl
                this.dataForm.ktxtsbln = data.elevatorOrder.ktxtsbln
                this.dataForm.ktxtdl = data.elevatorOrder.ktxtdl
                this.dataForm.tqkm = data.elevatorOrder.tqkm
                this.dataForm.ybdzd = data.elevatorOrder.ybdzd
                this.dataForm.ycjkgn = data.elevatorOrder.ycjkgn
                this.dataForm.dzgzyxgn = data.elevatorOrder.dzgzyxgn
                this.dataForm.dqftkzxt = data.elevatorOrder.dqftkzxt
                this.dataForm.qxgt = data.elevatorOrder.qxgt
                this.dataForm.qxzjgt = data.elevatorOrder.qxzjgt
                this.dataForm.gtPt = data.elevatorOrder.gtPt
                this.dataForm.gtBxg = data.elevatorOrder.gtBxg
                this.dataForm.zjgtPx = data.elevatorOrder.zjgtPx
                this.dataForm.zjgtBxg = data.elevatorOrder.zjgtBxg
                this.dataForm.fbsjYs = data.elevatorOrder.fbsjYs
                this.dataForm.fbsjYx = data.elevatorOrder.fbsjYx
                this.dataForm.fbsjJj = data.elevatorOrder.fbsjJj
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/applets/elevatororder/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id || undefined,
                'type': this.dataForm.type,
                'speed': this.dataForm.speed,
                'load': this.dataForm.load,
                'layer': this.dataForm.layer,
                'station': this.dataForm.station,
                'door': this.dataForm.door,
                'ywGt': this.dataForm.ywGt,
                'ywJf': this.dataForm.ywJf,
                'discount': this.dataForm.discount,
                'number': this.dataForm.number,
                'cg': this.dataForm.cg,
                'jk': this.dataForm.jk,
                'elevatorZfgpkgn': this.dataForm.elevatorZfgpkgn,
                'elevatorZfgpkcm': this.dataForm.elevatorZfgpkcm,
                'cargoPkgzfsc': this.dataForm.cargoPkgzfsc,
                'cargoPkgzfsccm': this.dataForm.cargoPkgzfsccm,
                'bxgdmt': this.dataForm.bxgdmt,
                'ptgbxgqtm': this.dataForm.ptgbxgqtm,
                'ptgbxgqx': this.dataForm.ptgbxgqx,
                'qtmbxgjm': this.dataForm.qtmbxgjm,
                'jtmbxgjm': this.dataForm.jtmbxgjm,
                'jtmtjjm': this.dataForm.jtmtjjm,
                'jtmbxgjmzk': this.dataForm.jtmbxgjmzk,
                'jtmtjjmzk': this.dataForm.jtmtjjmzk,
                'jxbxgjm': this.dataForm.jxbxgjm,
                'jxtjjm': this.dataForm.jxtjjm,
                'jxbxgjmzk': this.dataForm.jxbxgjmzk,
                'jxtjjmzk': this.dataForm.jxtjjmzk,
                'jxfwzk': this.dataForm.jxfwzk,
                'bxgjd': this.dataForm.bxgjd,
                'dlsdbds': this.dataForm.dlsdbds,
                'dlsdbph': this.dataForm.dlsdbph,
                'bxgsusgjx': this.dataForm.bxgsusgjx,
                'bxgsusgjtm': this.dataForm.bxgsusgjtm,
                'bxgtgjx': this.dataForm.bxgtgjx,
                'bxgtgjtm': this.dataForm.bxgtgjtm,
                'psgbgjtm': this.dataForm.psgbgjtm,
                'wjfztdzk': this.dataForm.wjfztdzk,
                'ythczx': this.dataForm.ythczx,
                'fczx': this.dataForm.fczx,
                'whxp': this.dataForm.whxp,
                'ddxp': this.dataForm.ddxp,
                'csyjxsp': this.dataForm.csyjxsp,
                'lbyjxsp': this.dataForm.lbyjxsp,
                'qxnfs': this.dataForm.qxnfs,
                'yybzgn': this.dataForm.yybzgn,
                'qkxt': this.dataForm.qkxt,
                'cctvsb': this.dataForm.cctvsb,
                'cctvdl': this.dataForm.cctvdl,
                'ehygm': this.dataForm.ehygm,
                'ktxtsbdl': this.dataForm.ktxtsbdl,
                'ktxtsbln': this.dataForm.ktxtsbln,
                'ktxtdl': this.dataForm.ktxtdl,
                'tqkm': this.dataForm.tqkm,
                'ybdzd': this.dataForm.ybdzd,
                'ycjkgn': this.dataForm.ycjkgn,
                'dzgzyxgn': this.dataForm.dzgzyxgn,
                'dqftkzxt': this.dataForm.dqftkzxt,
                'qxgt': this.dataForm.qxgt,
                'qxzjgt': this.dataForm.qxzjgt,
                'gtPt': this.dataForm.gtPt,
                'gtBxg': this.dataForm.gtBxg,
                'zjgtPx': this.dataForm.zjgtPx,
                'zjgtBxg': this.dataForm.zjgtBxg,
                'fbsjYs': this.dataForm.fbsjYs,
                'fbsjYx': this.dataForm.fbsjYx,
                'fbsjJj': this.dataForm.fbsjJj
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
