<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
    <el-form-item label="" prop="type">
      <el-input v-model="dataForm.type" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="speed">
      <el-input v-model="dataForm.speed" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="weight">
      <el-input v-model="dataForm.weight" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="layer">
      <el-input v-model="dataForm.layer" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="station">
      <el-input v-model="dataForm.station" placeholder=""></el-input>
    </el-form-item>
    <el-form-item label="" prop="door">
      <el-input v-model="dataForm.door" placeholder=""></el-input>
    </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          id: 0,
          type: '',
          speed: '',
          weight: '',
          layer: '',
          station: '',
          door: ''
        },
        dataRule: {
          type: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          speed: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          weight: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          layer: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          station: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ],
          door: [
            { required: true, message: '不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/applets/elevatortype/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.type = data.elevatorType.type
                this.dataForm.speed = data.elevatorType.speed
                this.dataForm.weight = data.elevatorType.weight
                this.dataForm.layer = data.elevatorType.layer
                this.dataForm.station = data.elevatorType.station
                this.dataForm.door = data.elevatorType.door
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/applets/elevatortype/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id || undefined,
                'type': this.dataForm.type,
                'speed': this.dataForm.speed,
                'weight': this.dataForm.weight,
                'layer': this.dataForm.layer,
                'station': this.dataForm.station,
                'door': this.dataForm.door
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
